/* flexboxはクラス指定で使える */

#header {
  display: flex;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto;
  flex-direction: column; 
  align-items: center;   */
}

.icon img {
  border-radius: 50%;
  border-color: aliceblue;
  border-style: solid;
  margin-left: 0px;
  /* margin: auto;
  margin-left: 10px; */
}

.icon {
  margin-right: 30px;
}

.snsicon {
  border-radius: 50%;
}
.sns {
  margin-right: 30px;
}

.twitter {
  color: aliceblue;
}

.instagram {
  color: aliceblue;
}

.twitterTimeline {
  margin-top: 10px;
}

.titleMain {
  display: flex;
  justify-content: center;
  margin: 10px;
}
