
  body
  {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-top: 0px ;
    margin-bottom: 0px ; 
    margin-right: 0px ; 
    margin-left: 0px ; 
    margin: 0px; */
    /* margin:0; */
    background-color: rgb(181, 241, 181);
    /* リストの黒点消す */
    list-style-type: none;
    /* gridは<>←これに使う*/
    display: grid;
    grid-template:
          "header  header  header  header  header" 
          "left    center  center  center  right "
          "footer  footer  footer  footer  footer";
  }

  header{
    background-color: rgb(157, 240, 243);
    grid-area: header;
  }

/* flexboxはクラス指定で使える */

  #header {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto;
    flex-direction: column; 
    align-items: center;   */
  }
  
  .icon img{
    border-radius: 50% ;
    border-color: aliceblue;
    border-style: solid;
    /* margin: auto;
    margin-left: 10px; */
      }
 
  .snsicon{
    border-radius: 50% ;
  }

  .twitter{
    color: rgb(35, 130, 219);
  }
  
  .instagram{
    color: hsl(325, 75%, 49%);
  }

  nav {
    grid-area: left;
  }

  main {
    grid-area: center;
  }
.works{
  margin-left: auto;
  margin-right: auto;
}
  aside {
    grid-area: right;
  }

  footer {
    grid-template: footer;
  }

  
