body {
  color: #333;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: white;
  list-style-type: none;
  display: grid;
  grid-template-areas:
    "header header header header header header header header header"
    "nav    main   main   main   main    main  main   main   main  "
    "aside  main   main   main   main    main  main   main   main  "
    "footer footer footer footer footer footer footer footer footer";
}

header {
  color: #333;
  background-color: rgb(160, 197, 243);
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  justify-content: center;
  border-style: solid;
  border-color: rgb(37, 49, 71);
}

aside {
  grid-area: aside;
}

footer {
  color: #333;
  background-color: rgb(160, 197, 243);
  text-align: center;
  justify-content: center;
  display: flex;
  grid-area: footer;
  margin-bottom: 0;
}

footer h1 {
  margin: auto auto;
  background-color: rgb(205, 221, 240);
  border-radius: 20px;
}
.textCenter {
  text-align: center;
}
