body {
  color: #333;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: rgb(138, 165, 204);
  list-style-type: none;
  /* display: grid; */
  /* grid-template:
    "header  header"
    "left    center"
    "footer  footer"; */
}

.textCenter {
  text-align: center;
}

header {
  color: #333;
  background-color: white;
  width: 100%;
  height: 10%;
  border-radius: 20px;
}

#mainFlex {
  display: flex;
}

nav {
  /* grid-area: left; */
  width: 20%;
  height: 80%;
}

main {
  /* grid-area: center; */
  width: 80%;
  height: 80%;
  justify-content: center;
  border-radius: 20%;
}

footer {
  color: #333;
  background-color: white;
  /* grid-area: footer; */
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  border-radius: 20px;
}

footer h1 {
  margin: auto;
  margin-bottom: initial;
  background-color: rgb(205, 209, 214);
  border-radius: 20px;
}
