<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.jsの基礎</title>
    <style>
      .error {
        color: red;
      }
      .flip-list-move {
        transition: transform 0.5s;
      }
      .alert {
        background-color: #fcc;
        padding: 10px;
        border: 1px solid #f33;
      }
    </style>
  </head>
  <body>
    <main>
      <div id="app">
        {{message}}
      </div>
      <div id="app1">
        <p v-if="error" v-bind:class="error_cclass">
          エラーです
        </p>
      </div>
      <div id="app2">
        <p v-if="error" v-bind:class="error_cclass">
          エラーです
        </p>
      </div>
      <div id="app3">
        <p v-if="error" v-bind:class="error_class">
          エラーです
        </p>
      </div>
      <div id="app4">
        <p>{{ now }}</p>
        <button v-on:click="time">現在時刻を表示する</button>
      </div>
      <div id="app5">
        <ul>
          <!-- 変数名 in 配列名 -->
          <li v-for="pref in prefs">
            {{pref.name}}
          </li>
        </ul>
      </div>
      <div id="app6">
        <button v-on:click="shuffle">シャッフル</button>
        <transition-group name="flip-list" tag="ul">
          <li v-for="pref in prefs" v-bind:key="pref.name">
            {{pref.name}}
          </li>
        </transition-group>
      </div>
      <div id="app7">
        <alert-box>〇〇が入力されていません</alert-box>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--loadash ライブラリ  -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
    <script>
      let app = new Vue({
        el: "#app",
        data: {
          message: "Hello World",
        },
      });
      let app1 = new Vue({
        el: "#app1",
        data: {
          error: false,
        },
      });
      let app2 = new Vue({
        el: "#app2",
        data: {
          //app2のエラーですを表示
          error: true,
        },
      });
      let app3 = new Vue({
        el: "#app3",
        data: {
          error: true,
          error_class: "error",
        },
      });
      let app4 = new Vue({
        el: "#app4",
        data: {
          now: "00:00:00",
        },
        methods: {
          time: function (e) {
            let date = new Date();
            // let clockNum = console.log(date.getHours());
            // if (clockNum >= 10) {
            let clock =
              date.getHours() +
              ":" +
              date.getMinutes() +
              ":" +
              date.getSeconds();
            // } else {
            //   let clock =
            //     "0" +
            //     date.getHours() +
            //     ":" +
            //     date.getMinutes() +
            //     ":" +
            //     date.getSeconds();
            // }
            this.now = clock;
          },
        },
      });
      let app5 = new Vue({
        el: "#app5",
        data: {
          prefs: [
            { name: "北海道" },
            { name: "青森" },
            { name: "秋田" },
            { name: "山形" },
            { name: "岩手" },
            { name: "宮城" },
            { name: "福島" },
          ],
        },
      });
      let app6 = new Vue({
        el: "#app6",
        data: {
          prefs: [
            { name: "北海道" },
            { name: "青森" },
            { name: "秋田" },
            { name: "山形" },
            { name: "岩手" },
            { name: "宮城" },
            { name: "福島" },
          ],
        },
        methods: {
          shuffle: function () {
            this.prefs = _.shuffle(this.prefs);
          },
        },
      });
      Vue.component("alert-box", {
        template:
          '<div class="alert" v-on:click="caution"> <strong>Error!</strong><slot></slot></div>',
        methods: {
          caution: function () {
            alert("クリックされました");
          },
        },
      });
      let app7 = new Vue({
        el: "#app7",
      });
    </script>
  </body>
</html>
