body {
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(138, 165, 204);
  list-style-type: none;
  display: grid;
  grid-template:
    "header  header  header   header  header"
    "left    center  center   center  right "
    "footer  footer  footer   footer  footer";
  height: 100%;
}
main {
  height: 100%;
}
