.pointer {
  cursor: pointer;
}

.hiddeninput {
  display: none;
}

/* 見せるようにするクラス */
.visible_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
  overflow: visible;
  transition: 0.8s;
}

/* 見せないようにするクラス */
.hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
